# Copyright (c) 2021-2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_HSHS46_LEFT

config ZMK_KEYBOARD_NAME
    default "HSHS46"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
    default y

endif

if SHIELD_HSHS46_LEFT || SHIELD_HSHS46_RIGHT

config ZMK_SPLIT
    default y

endif
